{
  "extends": "eslint-config-egg",
  //手动配置
  "rules": {
    // "semi": ["error", "never"], //禁止分号
    "strict": ["warn"],
    //newline-per-chained-call
    //TODO 如何保存换行？
    // app.httpRequest().get('/').expect('hi, egg').expect(200)
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 1 }]
  }
}
